<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACME | CATÁLOGO</title>
</head>

<body>
    <nav style="display: flex; align-items: center; justify-content: space-between; padding: 0 1rem;">
        <h2>ACME</h2>
        <ul style="display: flex; list-style: none; gap: 1rem;">
            <li style="cursor: pointer;">
                <a href="/">Inicio</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/nosotros">Nosotros</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/nuestros-servicios">Servicios</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/catalogo-clientes">Clientes</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/contacto">Contacto</a>
            </li>

        </ul>
    </nav>
    <br>
    <div style="text-align: center;">
        <h2 style="font-size: 1.5rem;">Bienvenido al catalogo de clientes</h2>
    </div>
    <div class="">
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black;">Nombre</th>
                    <th style="border: 1px solid black;">Apellido</th>
                    <th style="border: 1px solid black;">Email</th>
                    <th style="border: 1px solid black;">Celular</th>
                    <th style="border: 1px solid black;">Cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid black;">
                        Anderson
                    </td>
                    <td style="border: 1px solid black;">
                        Almeyda
                    </td>
                    <td style="border: 1px solid black;">
                        anderson.almeydat@gmail.com
                    </td>
                    <td style="border: 1px solid black;">
                        927974418
                    </td>
                    <td style="border: 1px solid black;">
                        Desarrollador Full Stack
                    </td>
                </tr>

                <tr>
                    <td style="border: 1px solid black;">
                        Luis
                    </td>
                    <td style="border: 1px solid black;">
                        Fernando
                    </td>
                    <td style="border: 1px solid black;">
                        luis.v@gmail.com
                    </td>
                    <td style="border: 1px solid black;">
                        999888777
                    </td>
                    <td style="border: 1px solid black;">
                        Desarrollador Php
                    </td>
                </tr>

                <tr>
                    <td style="border: 1px solid black;">
                        Evelyn
                    </td>
                    <td style="border: 1px solid black;">
                        Blas
                    </td>
                    <td style="border: 1px solid black;">
                        aleebl@gmail.com
                    </td>
                    <td style="border: 1px solid black;">
                        999999999
                    </td>
                    <td style="border: 1px solid black;">
                        Desarrollador iOS
                    </td>
                </tr>

                <!-- ahora tu dame 3 ejemplos con otros nombres, apellidos, emails, celulares y cargos -->
                <tr>
                    <td style="border: 1px solid black;">
                        Juan
                    </td>
                    <td style="border: 1px solid black;">
                        Perez
                    </td>
                    <td style="border: 1px solid black;">
                        jperez@gmail.com
                    </td>
                    <td style="border: 1px solid black;">
                        123456789
                    </td>
                    <td style="border: 1px solid black;">
                        Desarrollador Java
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</body>

</html>