<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACME | CATÁLOGO</title>
</head>

<body>
    <nav style="display: flex; align-items: center; justify-content: space-between; padding: 0 1rem;">
        <h2>ACME</h2>
        <ul style="display: flex; list-style: none; gap: 1rem;">
            <li style="cursor: pointer;">
                <a href="/">Inicio</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/nosotros">Nosotros</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/nuestros-servicios">Servicios</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/catalogo-clientes">Clientes</a>
            </li>
            <li style="cursor: pointer;">
                <a href="/contacto">Contacto</a>
            </li>

        </ul>
    </nav>
    <br>
    <div style="text-align: center;">
        <h2 style="font-size: 1.5rem;">Bienvenido a nuestro servivios</h2>
    </div>
</body>

</html>